*{
    font-family: Arial, sans-serif;
    color: white;
    cursor: default;
}

body{
    background-color: black;
}

h1{
    margin: 10px;
    font-size: 2em;
}

.main{
    margin: 0 auto 0 5em;
    padding: 10px;
    background-color: black;
    width: auto;
    border: 2px red solid;
}

.invisible{
    display: none;
}

div.visible{
    display: block;
}

div.invisible{
    display: none;
}